{% extends "admin/base_site.html" %}

{% comment %}
  Template for displaying the status of uploading the archive to the server.
  Dynamically requests information and informs the user of the completion
  of tasks.
{% endcomment %}

{% block content %}
  <label>Task ID:</label>
  <span id="task_id">{{ task.id }}</span><br>

  <label>Task Status:</label>
  <span id="task_status">{{ task.status }}</span><br>

  <div id="task_result_container"
       style="{% if not task.result %}display: none{% endif %}">
    <label>Task Result:</label>
    <span id="task_result">{{ task.result }}</span><br>
  </div>

{% endblock %}


{% block footer %}
  {{ footer.super }}

  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script>
    let update_url =
      "{% url "admin:album_upload_get_status" task_id=task.id %}";

    let interval = setInterval(() => {
        $.ajax({
          url: update_url
        }).done(function (data) {
          $("#task_status").html(data.status);

          if (data.status == 'UNPACKING') {
            $("#task_result").html(data.result);
            $("#task_result_container").show();
          }

          else if (data.result) {
            $("#task_result").html(data.result);
            $("#task_result_container").show();

            clearInterval(interval);
            alert("Done: " + data.status);
          }
        });
      },
      2 * 1000
    );

  </script>
{% endblock %}
