{% extends "admin/base_site.html" %}

{% comment %}
  Template for displaying the status of uploading the archive to the server.
  Dynamically requests information and informs the user of the completion
  of tasks.
{% endcomment %}

{% block content %}
  <div id="app">
    <label>Task ID:</label>
    <span v>[[ task_id ]]</span><br>

    <label>Task Status:</label>
    <span>[[ task_status ]]</span><br>

    <div v-show="task_result">
      <label>Task Result:</label>
      <span>[[ task_result ]]</span><br>
    </div>
  </div>

{% endblock %}


{% block footer %}
  {{ footer.super }}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>

  <script>
    let vm = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        update_url: '{% url "admin:album_upload_get_status" task_key=task.key %}',
        task_id: '{{ task.id }}',
        task_status: '{{ task.status }}',
        task_result: '{{ task_result }}',
      },
      methods: {
        update_info: function () {
          let q = this
          axios.get(this.update_url)
            .then(function (response) {
              data = response.data
              q.task_status = data.status
              q.task_result = data.result

              if (q.task_result)
                alert(q.task_result)
              else
                setTimeout(q.update_info, 2000)
            });
          return true
        }
      },
      created : function(){
        this.update_info()
      },
    });

  </script>
{% endblock %}
