@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
    font-size: 20px;
}

h1, h2, h3 {
    font-family: "Ubuntu" !important;
    font-weight: 500 !important;
}

h1 {


    border-bottom: 3px dotted #ccc !important;
    padding-bottom: 10px !important;

}

div.body pre {
  background: url(/_static/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.admonition {
box-shadow: 0 4px 5px -5px gray;
}

div.admonition.attention {
  background-color: #f5f5f5;
  border-left: 3px solid black;
  padding-left: 20px;
}

div.admonition.attention p.first.admonition-title {
  color: #9b111e;
  font-family: "Ubuntu" !important;
}
